In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [3]:
# Load Data

data = pd.read_csv("Decision_Tree_ Dataset.csv")

In [4]:
data.rename(columns={"1":"Initial payment", 
                     "2":"Last payment", 
                     "3":"Credit Score",
                     "4":"House Number"})

,Initial payment,Last payment,Credit Score,House Number,sum,Unnamed: 5
0,201,10018,250,3046,13515,yes
1,205,10016,395,3044,13660,yes
2,257,10129,109,3251,13746,yes
3,246,10064,324,3137,13771,yes
4,117,10115,496,3094,13822,yes
...,...,...,...,...,...,...
995,413,14914,523,4683,20533,No
996,359,14423,927,4838,20547,No
997,316,14872,613,4760,20561,No
998,305,14926,897,4572,20700,No
999,168,14798,834,4937,20737,No

In [5]:
data= data.drop("sum",  axis=1)

In [6]:
data = data.rename(columns={"1":"Initial payment", 
                     "2":"Last payment", 
                     "3":"Credit Score",
                     "4":"House Number",
                     "Unnamed: 5": "Result"})

In [7]:
data

     Initial payment  Last payment  Credit Score  House Number Result
0                201         10018           250          3046    yes
1                205         10016           395          3044    yes
2                257         10129           109          3251    yes
3                246         10064           324          3137    yes
4                117         10115           496          3094    yes
..               ...           ...           ...           ...    ...
995              413         14914           523          4683     No
996              359         14423           927          4838     No
997              316         14872           613          4760     No
998              305         14926           897          4572     No
999              168         14798           834          4937     No

[1000 rows x 5 columns]

In [8]:
len(data)

1000

In [9]:
data.shape

(1000, 5)

In [10]:
poped_colunm = data.pop("Result")

In [11]:
data.insert(0, poped_colunm.name, poped_colunm)

In [12]:
data

    Result  Initial payment  Last payment  Credit Score  House Number
0      yes              201         10018           250          3046
1      yes              205         10016           395          3044
2      yes              257         10129           109          3251
3      yes              246         10064           324          3137
4      yes              117         10115           496          3094
..     ...              ...           ...           ...           ...
995     No              413         14914           523          4683
996     No              359         14423           927          4838
997     No              316         14872           613          4760
998     No              305         14926           897          4572
999     No              168         14798           834          4937

[1000 rows x 5 columns]

In [13]:
data

    Result  Initial payment  Last payment  Credit Score  House Number
0      yes              201         10018           250          3046
1      yes              205         10016           395          3044
2      yes              257         10129           109          3251
3      yes              246         10064           324          3137
4      yes              117         10115           496          3094
..     ...              ...           ...           ...           ...
995     No              413         14914           523          4683
996     No              359         14423           927          4838
997     No              316         14872           613          4760
998     No              305         14926           897          4572
999     No              168         14798           834          4937

[1000 rows x 5 columns]

In [16]:
X = data.values[:, 1:5]
Y = data.values[:, 0]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, 
                                                    test_size=0.3,
                                                    random_state= 100)

clf_entropy = DecisionTreeClassifier(criterion = "entropy", 
                                     random_state = 100,
                                     max_depth = 3,
                                     min_samples_leaf = 5)

clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [19]:
y_pred = clf_entropy.predict(X_test)

In [20]:
y_pred

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes',
       'yes'], dtype=object)

In [21]:
print("Accuracy is : ", accuracy_score(y_test, y_pred)*100)

Accuracy is :  93.66666666666667